# 

deb {{ 'http://' if not patching_https else 'https://' }}{{ patching_mirror_url }}/ {{ ansible_distribution_release }} main {{ '' if not patching_repo_contrib_nonfree else 'contrib non-free' }}
{{ '# ' if not patching_repo_source else '' }}deb-src {{ 'http://' if not patching_https else 'https://' }}{{ patching_mirror_url }}/ {{ ansible_distribution_release }} main {{ '' if not patching_repo_contrib_nonfree else 'contrib non-free' }}

deb http://security.debian.org/debian-security {{ ansible_distribution_release }}/updates main
{{ '# ' if not patching_repo_source else '' }}deb-src http://security.debian.org/debian-security {{ ansible_distribution_release }}/updates main

deb {{ 'http://' if not patching_https else 'https://' }}{{ patching_mirror_url }}/ {{ ansible_distribution_release }}-updates main {{ '' if not patching_repo_contrib_nonfree else 'contrib non-free' }}
{{ '# ' if not patching_repo_source else '' }}deb-src {{ 'http://' if not patching_https else 'https://' }}{{ patching_mirror_url }}/ {{ ansible_distribution_release }}-updates main {{ '' if not patching_repo_contrib_nonfree else 'contrib non-free' }}
