# 

deb {{ 'http://' if not patching_https else 'https://' }}{{ patching_mirror_url }}/ {{ ansible_distribution_release }} main restricted
{{ '# ' if not patching_repo_source else '' }}deb-src {{ 'http://' if not patching_https else 'https://' }}{{ patching_mirror_url }}/ {{ ansible_distribution_release }} main restricted

deb {{ 'http://' if not patching_https else 'https://' }}{{ patching_mirror_url }}/ {{ ansible_distribution_release }}-updates main restricted
{{ '# ' if not patching_repo_source else '' }}deb-src {{ 'http://' if not patching_https else 'https://' }}{{ patching_mirror_url }}/ {{ ansible_distribution_release }}-updates main restricted

deb {{ 'http://' if not patching_https else 'https://' }}{{ patching_mirror_url }}/ {{ ansible_distribution_release }} universe
{{ '# ' if not patching_repo_source else '' }}deb-src {{ 'http://' if not patching_https else 'https://' }}{{ patching_mirror_url }}/ {{ ansible_distribution_release }} universe
deb {{ 'http://' if not patching_https else 'https://' }}{{ patching_mirror_url }}/ {{ ansible_distribution_release }}-updates universe
{{ '# ' if not patching_repo_source else '' }}deb-src {{ 'http://' if not patching_https else 'https://' }}{{ patching_mirror_url }}/ {{ ansible_distribution_release }}-updates universe

deb {{ 'http://' if not patching_https else 'https://' }}{{ patching_mirror_url }}/ {{ ansible_distribution_release }} multiverse
{{ '# ' if not patching_repo_source else '' }}deb-src {{ 'http://' if not patching_https else 'https://' }}{{ patching_mirror_url }}/ {{ ansible_distribution_release }} multiverse
deb {{ 'http://' if not patching_https else 'https://' }}{{ patching_mirror_url }}/ {{ ansible_distribution_release }}-updates multiverse
{{ '# ' if not patching_repo_source else '' }}deb-src {{ 'http://' if not patching_https else 'https://' }}{{ patching_mirror_url }}/ {{ ansible_distribution_release }}-updates multiverse

{% if patching_repo_backports == True %}
deb {{ 'http://' if not patching_https else 'https://' }}{{ patching_mirror_url }}/ {{ ansible_distribution_release }}-backports main restricted universe multiverse
{{ '# ' if not patching_repo_source else '' }}deb-src {{ 'http://' if not patching_https else 'https://' }}{{ patching_mirror_url }}/ {{ ansible_distribution_release }}-backports main restricted universe multiverse
{% endif %}

deb http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security main restricted
{{ '# ' if not patching_repo_source else '' }}deb-src http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security main restricted
deb http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security universe
{{ '# ' if not patching_repo_source else '' }}deb-src http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security universe
deb http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security multiverse
{{ '# ' if not patching_repo_source else '' }}deb-src http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security multiverse
